@charset "utf-8";

/* This block of code allows the custom fonts to be used on the webpage by downloading it from where it is hosted. */

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff');
    src: url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff');
    src: url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Khalel Abaquin
   Date:   9.12.18
   
   Filename: lake_styles.css

*/

/* This block of code styles the general appeareance of the webpage */

/* Structure */
html {
    color: black;
    background-color: rgb(212, 163, 240);
}

body {
    background-color: hsl(33, 68%, 88%);
}

header {
    background-color: palevioletred;
}

p {
    margin: 5px;
    padding: 5px 20px;
}

body p {
    font-size: 1.3em;
}

footer {
    font-style: normal;
    font-size: 1em;
    text-align: center;
    padding: 7px;
    background-color: palevioletred;
}


/* This block of code styles the navigation bar & it's links such as when you hover over said link. */

/* Navigation */

nav a:link {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav>ul>li a:link,
nav>ul>li>a:visited {
    color: firebrick;
    text-decoration: none;
}

nav>ul>li>a:hover,
nav>ul>li>a:active {
    color: hsla(0, 71%, 50%, 0.7);
    background-color: hsla(332, 76%, 69%, 0.7);
}

/* This block of code styles the different sections of the webpage. */

/* Section */

section#leftcol h1 {
    font-size: 3em;
    margin: 5px;
    font-family: Champagne, sans-serif;
}


section#leftcol aside h1 {
    font-family: none;
    font-size: 1.5em;
    text-align: center;
}

section#leftcol aside {
    background-color: rgba(128, 193, 247, 0.568);
}

section#leftcol aside section#rightcol ul {
    list-style-type: none;
}

section#rightcol {
    background-color: hsl(325, 73%, 75%);
    margin-right: 0px;
    list-style-type: none;

    /* padding-left: 10px;
    padding-right: 10px; */
}

section#rightcol nav h2 {
    font-family: Dobkin, sans-serif;
    padding-left: 30px;
    font-size: 1.7em;
}

/* This block of code styles the quotes of the webpage. */

/* Blockquotes */
blockquote {
    font-size: 1.3em;
}

blockquote::before {
    content: open-quote;
    font-size: 1.6em;
    font-weight: normal;
}

blockquote::after {
    content: close-quote;
    font-size: 1.6em;
    font-weight: normal;
}